/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global.css or equivalent */

html,
body {
  overflow-x: hidden;
}

.gradient-custom {
  background: linear-gradient(
    118.19deg,
    #1fa2ff -3.62%,
    #12d8fa 50.44%,
    #a6ffcb 104.51%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.shadow-custom-inset {
  box-shadow: -2px -2px 0px 0px #ffffff82 inset;
}

.drop-video {
  box-shadow: 20px 20px 0px 0px #f5f5f5;
 
}



.sec-2 {
  background: url("../src/assets/Images/bghome.svg");
}

/* Customizing the scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sec-sh {
  box-shadow: 20px 20px 0px 0px #ffffff;
}



@media (max-width:420px) {
  .drop-video{
    box-shadow: 10px 10px 0px white;
  }

  
}


.current-tab{
  box-shadow: 10px 10px 
  #FFD60A;
}